* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background: linear-gradient(#4ba6db, #0152cc 60%,white 60%);
}

.icons-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 0 40px;
}

.icons-container .logo {
    height:40px;
}

.icons-container .options-container {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.icons-container .options-container i {
    font-size: 18px;
    cursor: pointer;
}

.icons-container .options-container i:nth-child(1) {
    margin-right: 20px;

}

.user-container {
    width: min-content;
    margin: 0 auto;
}

.user-container img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.user-container .member-name {
    font-size: 20px;
    color: white;
    display: block;
    width: min-content;
    margin: 0 auto;
    margin-bottom: 10px;

}

.user-container .member-name a{
    color: white;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    margin: 15px auto;
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 18px;
    
}

.menu li {
    cursor: pointer;
    border: none;
}

.menu li:hover {
    border-bottom: 2px solid #000000;
}

.menu .selected {
    color:#0152cc;
    border-bottom: 2px solid #0152cc;
}

main {
    width: 75%;
    margin: 0 auto;
}

.search-container {
    border-bottom: 1px solid rgba(0,0,0,0.7);
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.search-container label {
    display: none;
}

.search-icon{
    font-size: 18px;
    color: rgba(0,0,0,0.6);
    margin-right: 5px;
}

.search-container input{
    outline: none;
    border: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    opacity: 50%;
}

.pokemons-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    margin-top: 20px;
    column-gap: 50px;
    row-gap: 25px;
    
}

.pokemon {
    display: flex;
    justify-content: space-between;
    border: 2px solid #0152cc;
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.pokemon:hover {
    
    box-shadow: 0px 0px 8px 2px #0152cc54;

}

.pokemon-image {
    width: 45%;
    padding: 10px;
}

.pokemon-informations {
    width: 55%;
}

.pokemon-informations .about-pokemon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 8px 0px;
    font-size: 18px;
    font-weight: 500;
}

.pokemon-informations .about-pokemon i{
    font-size: 20px;
    color: rgb(255, 239, 17);
}

.pokemon-informations .pokemon-name {
    display: inline-block;
}

.pokemon-informations .categories{
    text-transform: uppercase;
    font-size: 11px;
    color: rgba(255,255,255,0.9);
    display: flex;
}

.pokemon-informations .categories span {
    display: inline-block;
    padding: 3px 12px;
    border-radius: 7px;
    margin-right: 20px;
}

.pokemon-informations .normal-categorie {
    background-color: rgb(146, 145, 145);

}

.pokemon-informations .grass-categorie {
    background-color: rgb(68, 177, 104);
}

.pokemon-informations .poison-categorie {
    background-color: rgb(150, 82, 199);
}

.pages-navigation {
    width: 130px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pages-navigation span {
    color: #0152cc;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer; 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-navigation span:hover {
    border: 1px solid #0152cc;
}

.pages-navigation span:nth-child(1) {
    color: white;
    background-color: #0152cc;
}